<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        a {
            display: block;
            width: 100%;
            padding: 10px;
            text-align: center;
            margin: 10px 0;
            text-decoration: none;
            color: #fff;
            background-color: #007bff;
            border-radius: 5px;
        }

        a:hover {
            background-color: #0056b3;
        }

        a.logout {
            background-color: #dc3545;
        }
    </style>
</head>
<body>
    <h1>Hello, <%= name %></h1>
    <br>
    <a href='/todos'>To-Do List</a>
    <a href='/logout' class="logout">Logout</a>
</body>
</html>
